.header {
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin-left: 30px;
}

#bibliotopía {
  border-radius: 10px;
}

.body {
    display: flex; 
    margin-block-start: 0px;
    background-color: rgb(222, 222, 222);
  }

  .lateral {
    flex: 1;
    height: 100%;
    padding: 30px 0px;
  }
  
  .information {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .information img {
    width: 150px;
    border-radius: 20px;
  }

  .lateral p {
    font-size: 20px;
    margin: 10px 15px;
}
  .images {
    display: flex;
    justify-content: center;
    }

  .images a {
    margin-left: 15px;
    margin-top: 20px;
    background: none;
    &:active {
      transform: scale(0.9);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  
  .images a img {
    height: 35px;
  }

  .central {
    flex: 2.5;
    border-left: 2px solid rgb(193, 70, 70);
    margin-block-start: 0px;
    text-align: justify;
    padding-left: 40px;
    padding-bottom: 30px;
    background-color: white;  }

  .central h1 {
    margin-block: 0px;
    margin-top: 15px;
    font-size: 40px;
    color:#044ba8;
    padding: auto;
    padding: 0px;
  }

  .central h2 {
    margin-block: 0px;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 30px;
    cursor: pointer;
    padding: 5px 0;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.7;
    }
  }
 
  .central h2 button {
    width: 25px;
    height: 25px;
    padding: 4px;
    position: relative;
    bottom: 4px;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    background-color: rgb(193, 70, 70);
    color: white;
    font-size: 17px;
    transition: transform 0.4s;
    text-align: center;

    cursor: pointer;
    &:active {
        transform: scale(0.9);
    }
  }
  
  .selected {
    opacity: 0.7;
    transform: rotate(90deg);
     }

.central ul {
    margin-block: 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: disc;
    margin-left: 10px;
    margin-top: 10px
  }
  
  .central li {
    list-style-type: none;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: 20px;
     margin-right: 60px;

       }
  
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }

footer {
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }